@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import 'normalize.css';

@import './scss/all';

html {
  font-size: 62.5%; // 10px;
}

body {
  background-color: $orange;
  font-family: $mainFont;
  font-size: 1.6rem; // 16px;
}

h1,
h2,
h3,
h4,
h5 {
color: $blue
}

h1 {
  font-size: 5.2rem;
  text-align: center;
}

h2 {
  font-size: 4.5rem;
}

img {
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

.search {
  cursor: pointer;
}

.faveContainer {
  border:2px solid red;
}